body {
    /* font-family: "Noto Sans", sans-serif; */
    font-family: sans-serif;
    font-size: 2rem;

    overflow: hidden;
    padding: 0;
    margin: 0;
}

i {
    cursor: default;
    position: absolute;
    transition: all 1s ease;
    user-select: none;
}

/* i:hover {
    transform: scale(2.5);
} */